%ul
  = render :partial => "commit", :collection => @rejected_commits, :locals => { :itemtype => 'rejected' }
  = render :partial => "commit", :collection => @new_commits,      :locals => { :itemtype => 'new' }

