/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint/grid";
@import "compass/css3";

@import "vendor/skeleton/base";

#container {
  @include container();

  #header {
    @include column(24);

  }

  #content {
    @include column(24);

    ul li{
      @include column(24);
      &.rejected { color:#A54750; }
      
    }
    .buttons-container {
      display: inline;
      float: left;
      margin-right: 10px;
      width: 125px;
      padding-top:5px;
      a {
        @include border-radius(4px);
        display:inline-block;
        padding:6px;
        font-size:10px;
        font-weight: bold;
        line-height:10px;
        color:#FFF;
        text-decoration: none;
        text-transform: uppercase;
        &.accept{ background-color: #40ae4c; }
        &.reject{ background-color: #CC2119; }
        &.restart{ background-color: #cdc8b1; }
        &.review { color: #333; width:106px; text-align: center; margin-bottom:8px;}
        &.review.skip { font-weight:normal; font-style:italic; background-color:#EEE;}
        &.review.skip:hover { font-weight:normal; font-style:italic; background-color:#DDD;}
      }
    }

    .commit-description {
      display: inline;
      float: left;
      width: 790px;

      .id, .author, .commit_date {
        font-family: monospace;
        font-size: 10px;
        line-height: 10px;
      }
    }
  }

  #control_panel{
    @include column(24);
    @include last();
    text-align:right;
    padding:0px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 8px;

    .button { margin: 4px 0;}
  }
}

